<!--<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>-->



<div class="container">
	<div class="row">
		<div class="col-md-6">
		  <h1>Edit Event</h1>
		  <ul class="breadcrumb">
		    <li><%= link_to 'Events', events_path %></li>
		    <li><%= link_to 'Edit Event', edit_event_path(@event) %></li>
		  </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>

			<!--<%= link_to 'Back', events_path, :class=> 'btn btn-default' %>-->
		</div>
	</div>
</div>